*,*::before,*::after{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   background: url('../png/PATH.JPG') top / cover no-repeat;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

:root{
   --blue: #066884;
   --white: #fcfbf9;
   --brown: #AEA38F;
}

.header{
   position: fixed;
   width: 100%;
   height: 13vh;
   top: 0;
   left: 0;
   z-index: 50;
}
.header::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--white);
   z-index: 2;
}

.header__button{
   position: relative;
   cursor: pointer;
   text-decoration: none;
   color: #817359;
   border: .2vw ridge var(--brown);
   border-radius: 5px;
   background: transparent;
   font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.3vw;
   letter-spacing: .2vw;
   height: 5vh;
   padding: .4vw;
}
.header__button::before{
   content: "";
   transform-origin: center;
   position: absolute;
   top: -20%;
   left: 3%;
   width: 95%;
   height: 45%;
   background-color: var(--white);
   transition: 0.5s;
}
.header__button::after{
   content: "";
   position: absolute;
   bottom: -30%;
   left: 3%;
   width: 95%;
   height: 45%;
   background-color: var(--white);
   transition: 0.5s;
   transform-origin: center;
}
.header__button:hover:before, .header__button:hover::after{
   transform: scale(0);
}

.lang__button {
   padding-left: 3vw;
   font-size: 18px;
   background-color: transparent;
   text-decoration: underline;
   cursor: pointer;
}

.container{
   margin: 0 auto;
   width: 100%;
}
.container__header{
   max-width: 1480px;
   padding: 0 0 0 23vw;
   height: 100%;
}
.container__content{
   max-width: 1280px;
   padding: 0 14vw;
}

.header__body{
   display: flex;
   position: relative;
   height: 100%;
   justify-content: space-evenly;
   align-items: center;
}
.dobrocenter{
   text-decoration: none;
   position: absolute;
   color: var(--brown);
   top: 3.5vh;
   left: -20vw;
   z-index: 2;
   font-family: 'Rubik Mono One', sans-serif;
   font-size: 18px;
}
.p__dobro{
   transform: translate(.7vw, 0);
}
.p__center{
   letter-spacing: .1vw;
}
.header__menu{
   display: flex;
   width: 100%;
}

.header__list{
   display: flex;
   position: relative;
   z-index: 2;
}
.header__list li{
   list-style: none;
}

.header__link{
   text-decoration: none;
   margin-right: 3vw;
   color: var(--blue);
   font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.3vw;
   font-weight: 100;
   letter-spacing: .2vw;
   transition: 1.2s;
}
.header__link:hover{
   font-size: 1.2vw;
   transform: scale(2);
   filter: drop-shadow(6px 10px 1px rgba(15, 23, 23, 0.3));
   transition: 0.2s;
   transform: translateY(2px);
}

.header__burger{
   display: none;
}

.container__text{
   position: relative;
   margin-top: 20vh;
   padding: 10vh 5vw;
   background-color: var(--white);
}
.text, .text-2, .text-main{
   width: 30vw;
   position: relative;
   z-index: 2;
   font-family: 'Montserrat', sans-serif;
   color: var(--blue);
}
.text-main::before{
   position: absolute;
   top: -15vh;
   left: -1%;
   content: '................';
   letter-spacing: .3vw;
   font-size: 5.5vw;
   color: var(--brown);
   opacity: .5;
}
.container__text ul{
   padding-left: 1vw;
}
.container__text li{
   font-family: 'Montserrat', sans-serif;
   color: var(--blue);
}
.square{
   position: absolute;
   top: 7%;
   right: 10%;
   height: 80px;
   width: 80px;
   background-color: var(--brown);
   transform: rotateZ(45deg);
}
.square__about{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   color: var(--white);
   font-size: 2vw;
   transform: rotateZ(-45deg);
   font-family: 'Alegreya Sans', sans-serif;
}

.bird{
   position: absolute;
   background-image: url('../png/Bird.png');
   opacity: .2;
   width: 40vw;
   top: 7%;
   right: 35%;
   z-index: 1;
}
.bird img{
   max-width: 100%;
}

@media(width >= 1650px) {
   .container__header{
      max-width: 2000px;
   }
   .dobrocenter{
      top: 4vh;
      left: -18vw;
      font-size: 22px;
   }
   .finland::before{
      left: -52vw;
   }
   .square__about{
      font-size: 1.8vw;
   }
   .text{
      width: 23vw;
   }
   .bird{
      top: 15%;
      right: 32%;
   }
   
}
@media(1440px >= width) {
   .header__link{
      font-size: 1.6vw;
   }
   .p__dobro{
      transform: translate(.8vw, 0);
   }
   .content__button{
      font-size: 1.6vw;
   }
   .finland::before{
      left: -36vw;
   }
}
@media(992px >= width) {
   html, body{
      height: 195vh;
   }
   .header{
      height: 7vh;
   }
   .header__link{
      font-size: 1.6vw;
   }
   .dobrocenter{
      top: 1.4vh;
   }
   .p__dobro{
      transform: translate(1vw, 0);
   }
   .content__button{
      width: 24vw;
      font-size: 4vw;
   }
   .container__content{
      padding: 0 5vw;
      transform: translate(0, -7vh);
   }
   .text, .text-2, .container__text li{
      width: 55vw;
      font-size: 3vw;
   }
   .text::before{
      display: none;
   }
   .square__about{
      font-size: 4vw;
   }
   .bird{
      width: 100vw;
      top: 15%;
      right:2vw
   }
}
@media(770px >= width) {
   html, body{
      height: 205vh;
   }
   body.lock{
      overflow: hidden;
   }
   .header{
      position: fixed;
      width: 100%;
      height: 7vh;
      top: 0;
      left: 0;
      z-index: 50;
   }
   .header::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      z-index: 2;
   }
   .container{
      margin: 0 auto;
      width: 100%;
   }
   .container__header{
      width: 100%;
      padding: 0;
      height: 100%;
   }
   .header__body{
      width: 100%;
   }
   .header__menu{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
   }
   .header__list{
      display: flex;
      position: relative;
      z-index: 2;
   }
   
   .header__link{
      text-decoration: none;
      margin-right: 3vw;
      color: black;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 1.7vw;
      color: var(--blue);
      letter-spacing: .2vw;
      transition: 1.2s;
   }
   .header__button{
      font-size: 2.4vw;
   }
   .container__content{
      max-width: 1280px;
      padding: 0 5vw;
   }
   .dobrocenter{
      display: none;
   }
   .content__inscription{
      font-size: 8vw;
   }
   .text, .text-2, .container__text li{
      width: 55vw;
      font-size: 3vw;
   }
}
@media(width <= 435px) {
   html, body{
      height: 170%;
   }
   .header {
      height: 8vh;
   }
   .dobrocenter { 
      display: block;
      top: 12%;
      left: 5%;
   }
   .p__dobro{
      transform: translate(2vw, 0);
   }
   .header__body{}
   .container{
      max-width: 426px;
   }
   .header__body{
      max-width: 426px;
   }
   .header__burger{
      display: block;
      position: absolute;
      top: 30%;
      right: 7%;
      width: 25px;
      height: 20px;
      z-index: 4;
   }
   .header__burger::before,
   .header__burger::after{
      content: '';
      background-color: var(--blue);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .header__burger span{
      position: absolute;
      background-color: var(--blue);
      left: 0;
      width: 100%;
      height: 2px;
      top: 10px;
      transition: .1s;
   }
   .header__burger::before{
      top: 10%;
      transition: .5s;
   }
   .header__burger::after{
      bottom: 0;
      transition: .5s;
   }
   .header__burger.active span{
      transform: scale(0);
   }
   .header__burger.active::before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__menu{
      position: fixed;
      overflow: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      padding: 80px 0 0 0;
      z-index: 2;
      transition: .5s;
   }
   .header__menu.active{
      top: 0;
   }
   .header__list{
      display: block;
   }
   .header__list li{
      padding: 2vh 0 3vh 5vw;
   }
   .header__link{
      font-size: 6vw;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 100;
      position: relative;
   }
   .header__link::before{
      position: absolute;
      top: -2vh;
      left: -15vw;
      content: '';
      background-color: var(--brown);
      height: .1vh;
      width: 80vw;
   }
   .header__button{
      position: relative;
      font-size: 8vw;
      border: none;
   }
   .header__button::before{
      position: absolute;
      top: -2vh;
      left: -15vw;
      content: '';
      background-color: var(--brown);
      height: .1vh;
      width: 80vw;
   }
   .header__button::after{
      display: none;
   }
   .square{
      top: 1.5%;
      height: 70px;
      width: 70px;
   }
   .square__about{
      font-size: 7vw;
   }
   .bird{
      top: 0;
      right: -20vw;
      width: 135vw;
   }
   .text, .text-2 {
      padding-top: 5vh;
   }
   .text, .text-2, .container__text li{
      margin: 1vh 0 0 5vw;
      width: 65vw;
      font-size: 5vw;
   }
}
@media(width <= 380px) {
   html, body{
      height: 193%;
   }
}