*,*::before,*::after{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   background: url('/png/contacts.jpg') top / cover no-repeat;
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

:root{
   --blue: #066884;
   --white: #fcfbf9;
   --brown: #AEA38F;
}

.header{
   position: fixed;
   width: 100%;
   height: 13vh;
   top: 0;
   left: 0;
   z-index: 50;
}
.header::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--white);
   z-index: 2;
}

.header__button{
   position: relative;
   cursor: pointer;
   text-decoration: none;
   color: #817359;
   border: .2vw ridge var(--brown);
   border-radius: 5px;
   background: transparent;
   font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.3vw;
   letter-spacing: .2vw;
   height: 5vh;
   padding: .4vw;
}
.header__button::before{
   content: "";
   transform-origin: center;
   position: absolute;
   top: -20%;
   left: 3%;
   width: 95%;
   height: 45%;
   background-color: var(--white);
   transition: 0.5s;
}
.header__button::after{
   content: "";
   position: absolute;
   bottom: -30%;
   left: 3%;
   width: 95%;
   height: 45%;
   background-color: var(--white);
   transition: 0.5s;
   transform-origin: center;
}
.header__button:hover:before, .header__button:hover::after{
   transform: scale(0);
}

.container{
   margin: 0 auto;
   width: 100%;
}
.container__header{
   max-width: 1480px;
   padding: 0 0 0 23vw;
   height: 100%;
}
.container__content{
   max-width: 1280px;
   padding: 0 14vw;
}
.header__body{
   display: flex;
   position: relative;
   height: 100%;
   justify-content: space-evenly;
   align-items: center;
}
.dobrocenter{
   text-decoration: none;
   position: absolute;
   color: var(--brown);
   top: 3.5vh;
   left: -20vw;
   z-index: 2;
   font-family: 'Rubik Mono One', sans-serif;
   font-size: 18px;
}
.p__dobro{
   transform: translate(.7vw, 0);
}
.p__center{
   letter-spacing: .1vw;
}
.header__menu{
   display: flex;
   width: 100%;
}

.header__list{
   display: flex;
   position: relative;
   z-index: 2;
}
.header__list li{
   list-style: none;
}

.header__link{
   text-decoration: none;
   margin-right: 3vw;
   color: var(--blue);
   font-family: 'Alegreya Sans', sans-serif;
   font-size: 1.3vw;
   letter-spacing: .2vw;
   transition: 1.2s;
}

.header__link:hover{
   font-size: 1.2vw;
   transform: scale(2);
   filter: drop-shadow(6px 10px 1px rgba(15, 23, 23, 0.3));
   transition: 0.2s;
   transform: translateY(2px);
}

.header__burger{
   display: none;
}

.contacts, .place {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 25vh;
         text-align: center;
}
.contacts{
   left: 10vw;
   width: 20vw;
}
.place{
   right: 10vw;
   width: 30vw;
}
.contacts__head, .place__head {
   background-color: var(--white);
   border-radius: 10px;
}
.contacts__head p, .place__head p {
   font-family: 'Alegreya Sans', sans-serif;
   font-weight: 800;
   font-size: 2.5vw;
   letter-spacing: .1vw;
   color: var(--blue);
}
.contacts__head p{
   margin: 0 3vw;
}
.place__head p{
   margin: 0 4.5vw;
}
.contacts__info, .place__info{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   margin-top: 2vw;
}
.contacts__info p, .place__info p {
   margin: .5vw 0;
   color: var(--white);
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2vw;
}
.contacts__info p::before{
   position: absolute;
   content: '';
   width: 5vw;
   height: 5vw;
}
.contacts__info p:nth-child(1)::before{
   background: url("./png/MAIL_9873.PNG") no-repeat center center/cover;
   top: 37%;
   left: -7%;
}
.contacts__info p:nth-child(2)::before{
   background: url("./png/WA_9876.PNG") no-repeat center center/cover;
   top: 61%;
   left: -6%;
}
.place__info p {
   align-self: center;
}
.place__info p:nth-child(1), .place__info p:nth-child(4), .place__info p:nth-child(7){
   font-weight: 800;
   font-size: 1.3vw;
}
iframe{
   width: 30vw;
   height: 15vh;
   margin-bottom: 4vh;
}

.lang__button {
   padding-left: 3vw;
   font-size: 18px;
   background-color: transparent;
   text-decoration: underline;
   font-family: 'Alegreya Sans', sans-serif;
   color: var(--blue);
   font-size: 1.3vw;
   cursor: pointer;
}

.media{
   position: absolute;
   bottom: 3vh;
   left: 10vw;
   display: flex;
   flex-direction: column;
   max-width: 30vw;
}
.media__head p{
   font-family: 'Alegreya Sans', sans-serif;
   font-weight: 800;
   font-size: 2.5vw;
   letter-spacing: .1vw;
   color: var(--white);
}
.link__ig img{
   transform: translate(6vw, -1vh);
}
.link__fb img{
   transform: translate(4vw, -2vh);
}
.link__ig img, .link__fb img{
   width: 7vw;
   position: relative;
   left: -2vw;
}

@media(width >= 1650px) {
   .container__header{
      max-width: 2000px;
   }
   .dobrocenter{
      top: 4vh;
      left: -18vw;
      font-size: 22px;
   }
   .finland::before{
      left: -52vw;
   }
}
@media(1440px >= width) {
   html, body{
      height: 110%;
   }
   .header__link{
      font-size: 1.6vw;
   }
   .p__dobro{
      transform: translate(.8vw, 0);
   }
   .content__button{
      font-size: 1.6vw;
   }
   .finland::before{
      left: -36vw;
   }
   .text{
      font-size: 2.2vw;
   }
}
@media(992px >= width) {
   .header{
      height: 7vh;
   }
   .header__link{
      font-size: 1.6vw;
   }
   .dobrocenter{
      top: 1.4vh;
   }
   .p__dobro{
      transform: translate(1vw, 0);
   }
   .content__button{
      width: 24vw;
      font-size: 4vw;
   }
   .contacts{
      width: 24vw;
   }
   .place{
      width: 37vw;
   }
   .contacts__head p, .place__head p {
      font-size: 3.5vw;
   }
   .contacts__info p, .place__info p {
      font-size: 3vw;
   }
   .contacts__info p::before{
      width: 9vw;
      height: 9vw;
   }
   .contacts__info p:nth-child(1)::before{
      top: 24%;
      left: -30%;
   }
   .contacts__info p:nth-child(2)::before{
      top: 55%;
      left: -28%;
   }
   .place__info p:nth-child(1), .place__info p:nth-child(4), .place__info p:nth-child(7){
      font-size: 2.2vw;
   }
   .media{
      max-width: 40vw;
   }
   .media__head p{
      font-size: 4vw;
   }
   .link__ig img{
      transform: translate(6vw, -1vh);
   }
   .link__fb img{
      transform: translate(4vw, -1.25vh);
   }
}
@media(770px >= width) {
   body.lock{
      overflow: hidden;
   }
   .header{
      position: fixed;
      width: 100%;
      height: 7vh;
      top: 0;
      left: 0;
      z-index: 50;
   }
   .header::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      z-index: 2;
   }
   .container{
      margin: 0 auto;
      width: 100%;
   }
   .container__header{
      width: 100%;
      padding: 0;
      height: 100%;
   }
   .header__body{
      width: 100%;
   }
   .header__menu{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
   }
   .header__list{
      display: flex;
      position: relative;
      z-index: 2;
   }
   
   .header__link{
      text-decoration: none;
      margin-right: 3vw;
      color: black;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 1.7vw;
      color: var(--blue);
      letter-spacing: .2vw;
      transition: 1.2s;
   }
   .header__button{
      font-size: 2.4vw;
   }
   .container__content{
      max-width: 1280px;
      padding: 0 14vw;
   }
   
   .dobrocenter{
      display: none;
   }
   .content__inscription{
      font-size: 8vw;
   }
}
@media(width <= 435px) {
   html, body{
      height: 130%;
   }
   .header {
      height: 8vh;
   }
   .dobrocenter { 
      display: block;
      top: 12%;
      left: 5%;
   }
   .p__dobro{
      transform: translate(2vw, 0);
   }
   .container{
      max-width: 426px;
   }
   .header__body{
      max-width: 426px;
   }
   .header__burger{
      display: block;
      position: absolute;
      top: 30%;
      right: 7%;
      width: 25px;
      height: 20px;
      z-index: 4;
   }
   .header__burger::before,
   .header__burger::after{
      content: '';
      background-color: var(--blue);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
   }
   .header__burger span{
      position: absolute;
      background-color: var(--blue);
      left: 0;
      width: 100%;
      height: 2px;
      top: 10px;
      transition: .1s;
   }
   .header__burger::before{
      top: 10%;
      transition: .5s;
   }
   .header__burger::after{
      bottom: 0;
      transition: .5s;
   }
   .header__burger.active span{
      transform: scale(0);
   }
   .header__burger.active::before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__menu{
      position: fixed;
      overflow: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      padding: 80px 0 0 0;
      z-index: 2;
      transition: .5s;
   }
   .header__menu.active{
      top: 0;
   }
   .header__list{
      display: block;
   }
   .header__list li{
      padding: 2vh 0 3vh 5vw;
   }
   .header__link{
      font-size: 6vw;
      font-family: 'Alegreya Sans', sans-serif;
      font-weight: 100;
      position: relative;
   }
   .header__link::before{
      position: absolute;
      top: -2vh;
      left: -15vw;
      content: '';
      background-color: var(--brown);
      height: .1vh;
      width: 80vw;
   }
   .header__button{
      position: relative;
      font-size: 8vw;
      border: none;
   }
   .header__button::before{
      position: absolute;
      top: -2vh;
      left: -15vw;
      content: '';
      background-color: var(--brown);
      height: .1vh;
      width: 80vw;
   }
   .header__button::after{
      display: none;
   }
   .contacts{
      top: 15vh;
      left: 27vw;
      width: 48vw;
   }
   .place{
      top: 30vh;
      margin: 2vh 0;
      left: 22vw;
      width: 57vw;
   }
   .contacts__head p, .place__head p {
      font-size: 5.5vw;
   }
   .contacts__info p, .place__info p {
      font-size: 4vw;
      margin-top: 1vh;
   }
   .contacts__info p::before{
      width: 12vw;
      height: 12vw;
   }
   .contacts__info p:nth-child(1)::before{
      top: 27%;
      left: -25%;
   }
   .contacts__info p:nth-child(2)::before{
      top: 60%;
      left: -5%;
   }
   .place__info p:nth-child(1), .place__info p:nth-child(4), .place__info p:nth-child(7){
      font-size: 2.8vw;
   }
   iframe{
      margin: 2vh 0;
      align-self: center;
   }
   .media{
      max-width: 60vw;
      bottom: -63vh;
      left: 25vw;
   }
   .media__head p{
      font-size: 4vw;
   }
   .link__ig img{
      transform: translate(6vw, -4.5vh);
   }
   .link__fb img{
      transform: translate(4vw, -5.5vh);
   }
   .link__ig img, .link__fb img{
      width: 20vw;
   }
   .lang__button {
      font-size: 8vw;
      transform: translateX(20vw);
   }
}